/* Font configuration              */
/* I like Cooper Hewitt because it */
/* makes me think of museums.      */
/* Ironic because I never liked    */
/* spending a lot of time in them. */
@font-face {
  font-family: "CooperHewitt-Bold";
  src: url("../fonts/CooperHewitt-Bold.otf");
}

@font-face {
  font-family: "CooperHewitt-Book";
  src: url("../fonts/CooperHewitt-Book.otf");
}

@font-face {
  font-family: "CooperHewitt-Light";
  src: url("../fonts/CooperHewitt-Light.otf");
}

@font-face {
  font-family: "CooperHewitt-Medium";
  src: url("../fonts/CooperHewitt-Medium.otf");
}

/* Basic styles */
body {
  margin: 0;
  padding: 0;
  background-color: #fbf8f3;
  font-family: "CooperHewitt-Book", sans-serif; /* use CooperHewitt-Book as the default font */
}

.main-wordmark {
  cursor: none;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 400px; /* this sets the width of the sidebar, you can adjust as necessary */
  overflow-y: auto; /* allows scrolling in the sidebar if necessary */
  display: grid;
  align-content: center;
}

.sidebar-content {
  padding: 20px;
  text-align: right;
}

ul {
  list-style: none;
}

ul li a {
  color: #000;
  text-decoration: none;
}

ul li a:hover {
  color: #3f3f3f;
  text-decoration: none;
}

.main {
  flex-grow: 1;
  overflow-y: auto; /* allows scrolling in the main content area */
}

.main-content {
  font-size: 16px;
  max-width: 468px;
  padding: 5vh 12px 12px 12px;
}

@media (min-width: 768px) {
  .main-content {
    padding-top: 10vh;
  }
}

.main-content h2 {
  font-size: 18px;
  font-family: "CooperHewitt-Medium", sans-serif; /* use CooperHewitt-Book as the default font */
}

.project {
  border-left: 1px solid #b3d3d3;
  padding-left: 18px;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .sidebar {
    flex: 0 0 auto; /* reset the fixed width of the sidebar */
  }
}
